.main-header {
    background-image: url('../Images/purple.jpg'); /* note the leading slash */
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-top: 50px;
}

.title{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

