.homepage-header {
  background-image: url('../Images/purple.jpg'); /* note the leading slash */
  background-size: cover;
  background-position: center;
 padding-top: 100px;
    padding-bottom: 70px;
    
}

.title{
    font-size: 60px;
}

.btn-outline-warning{
    background-color: white;
}



.feature{
    padding-top: 70px;
}


.btn.btn-outline-warning:hover svg path{
    fill: black ;

}
